<!-- views/partials/footer.ejs -->

<div class="footer">
	<p><span><img src="images/gormandize-small-logo.png"></span>&nbsp;&nbsp; gormandize © {{date | date:'yyyy'}}. All Rights Reserved</p>
</footer>