<!DOCTYPE html>
<html lang="en">
	<head>
		<title>gormandize | About </title>
		<% include ../partials/head-light %>
		<link href="css/about.css" rel="stylesheet">
	</head>
	<body>
		<% include ../partials/navbar %>
		<!-- About sectino -->
		<div class="about">
			<div class="container">
					<div class="about-heading">About Gormandize
					</div>
					<div class="about-subheading">Gormandize was originally created as a CSC690 term project by classmates during the Fall 2014 semester. Since then, the maintenance and update to Node.js has been a solo effort.</div>
			</div>
		</div>

		<div class="about-profiles">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="about-heading">
							<img src="/images/brendan_about.jpg" alt="..." class="img">
							<h2>Brendan Luna</h2>
							<strong>Lead Developer</strong>
						</div>
						<br>
						<ul class="text-muted">
							<li>Brendan graduated in May of 2015 from nearby SF State with a focus on Web Development.</li>
							<li>Some of his favorite spots in SF for food include: Spiazzo, Shabu House, Beachside, and Taqueria El Buen Sabor.</li>
							<li>In his spare time he enjoys running, watching the 49ers, reading, playing video games, and traveling.
							</li>
						</ul>
						<br>
						<div class="about-heading">
							<span class="fa-stack fa-lg">
								<a href="https://brendanluna.com">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<i class="fa fa-user fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a href="https://github.com/blunatic">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<i class="fa fa-github fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a href="http://linkedin.com/in/brendanluna">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a href="https://twitter.com/bdluna">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer>
		<% include ../partials/footer %>
	</footer>
</html>