<!DOCTYPE html>
<html lang="en">
	<head>
		<title>gormandize | Help </title>
		<% include ../partials/head-light %>
		<link href="css/help.css" rel="stylesheet">
	</head>
	<body>
		<% include ../partials/navbar %>
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="help">
			<div class="container">
					<div class="help-heading">Help
					</div>
					<div class="help-subheading">Having issues searching? Here are some tips...</div>
			</div>
		</div>
		<div class="helpTips">
			<div class="container">
				<!-- Example row of columns -->
				<ul>
					<li> Make sure to specify full addresses when typing in a location. For example, if you wanted to search for pizza near downtown, your full location should be entered as "1 South Van Ness, San Francisco, CA". If you only provide "1 South Van Ness", the Yelp/Foursquare APIs may not be able to deduce which city to properly search in.
					</li>
					<br>
					<li> Want to view the restaurant result's menu? Click the "View Menu" link in the results.
					</li>
					<br>
					<li> Still need help? Shoot an email to gormandize.contact@gmail.com
					</li>
					<br>
				</ul>
			</div>
		</div>
	</body>
	<footer>
		<% include ../partials/footer %>
	</footer>
</html>